body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

ul{
    list-style: none;
    width: 20%;
    li:hover, li:focus{
        background-color: black;
        color:white;
    }
}

span {
    font-weight: bold;
}

.error{
    color: red;
}